[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "dependencies/VulkanMemoryAllocator"]
	path = dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "dependencies/vk-bootstrap"]
	path = dependencies/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
